* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

hr {
  color: #EEEFF2;
  border: 1px solid #EEEFF2;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 53px;
  margin-left: 63px;
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.header__logo {
  width: 149px;
  height: 36px;
  margin-top: 50px;
  margin-left: 150px;
}
.header__nav-item {
  font-family: "Rubik";
  color: #4F5665;
  margin-top: 58px;
  margin-right: 40px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__sign-in {
  font-family: "Rubik";
  font-weight: 500;
  color: #0B132A;
}
.header__sign-up {
  color: #F53855;
  font-family: "Rubik";
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 50px;
  border: 1px solid #F53855;
  margin-left: 30px;
  margin-right: 150px;
}
.header__nav-list {
  display: flex;
}
.header__box {
  margin-top: 58px;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.intro__title {
  width: 555px;
  font-family: "Rubik";
  font-weight: 500;
  margin-top: 120px;
  margin-left: 150px;
  color: #0B132A;
  margin-bottom: 20px;
}
.intro__text {
  color: #4F5665;
  width: 555px;
  margin-left: 150px;
  font-family: "Rubik";
  margin-bottom: 50px;
  margin-right: 40px;
}
.intro__link {
  background-color: #F53838;
  color: #FFFFFF;
  font-family: "Rubik";
  padding: 17px 77px 17px 77px;
  border-radius: 10px;
  margin-left: 150px;
}
.intro__img {
  margin-bottom: 45px;
}
.intro__container {
  margin-top: 101px;
}
.intro__item-first-element {
  background-image: url(/img/person.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 30px;
  height: 30px;
  border-radius: 32px;
  background-color: #FFECEC;
  margin-left: 42px;
  margin-top: 82px;
  margin-left: 112px;
}
.intro__item-second-element {
  background-image: url(/img/navigator.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 30px;
  height: 30px;
  border-radius: 32px;
  background-color: #FFECEC;
  margin-left: 53px;
  margin-top: 82px;
}
.intro__item-thirt-element {
  background-image: url(/img/book.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 30px;
  height: 30px;
  border-radius: 32px;
  background-color: #FFECEC;
  margin-left: 53px;
  margin-top: 82px;
}
.intro__wrapper {
  display: flex;
}
.intro__list {
  margin-top: 48px;
  display: flex;
}
.intro__item-wrapper {
  justify-content: center;
}
.intro__item-text {
  color: #4F5665;
  font-family: "Rubik";
}
.intro__item-number {
  color: #0B132A;
  font-family: "Rubik";
  font-weight: 700;
}
.intro__wrapper-second {
  width: 1440px;
  justify-content: center;
  margin-top: 48px;
}
.intro__item-first {
  display: flex;
  margin-left: 197px;
}
.intro__item-second {
  display: flex;
  margin-left: 53px;
}
.intro__item-thirt {
  display: flex;
}
.intro__item-wrapper {
  margin-left: 17px;
  margin-top: 79px;
  margin-right: 63px;
  margin-bottom: 31px;
}

.section__img {
  width: 600px;
  margin-top: 45px;
  margin-right: 79px;
  margin-left: 86px;
}
.section__item {
  display: flex;
  margin-top: 10px;
  font-family: "Rubik";
  color: #4F5665;
  margin-left: 79px;
}
.section__wrapper {
  display: flex;
}
.section__title {
  margin-top: 70px;
  margin-left: 79px;
  font-family: "Rubik";
  color: #0B132A;
}
.section__text {
  margin-top: 10px;
  color: #4F5665;
  font-family: "Rubik";
  margin-left: 79px;
}/*# sourceMappingURL=main.css.map */