*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
hr{
    color: #EEEFF2;
    border: 1px solid #EEEFF2;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 53px;
    margin-left: 63px;
}