.header {
    &__logo {
        width: 149px;
        height: 36px;
        margin-top: 50px;
        margin-left: 150px;
    }
    &__nav-item{
        font-family: 'Rubik';
        color: #4F5665;
        margin-top: 58px;
        margin-right: 40px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__sign-in{
        font-family: 'Rubik';
        font-weight: 500;
        color: #0B132A;
    }
    &__sign-up{
        color: #F53855;
        font-family: 'Rubik';
        font-weight: 500;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 45px;
        padding-right: 45px;
        border-radius: 50px;
        border: 1px solid #F53855;
        margin-left: 30px;
        margin-right: 150px;
    }
    &__nav-list{
        display: flex;
    }
    &__box{
        margin-top: 58px;
    }

}